@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;1,100&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: greenyellow !important;
}

@media screen and (min-width:874px) {
    h1 {
        color: blue;
        text-align: center;
        font-size: 3rem;
    }
}




