{% extends 'base.html.twig' %}

{% block title %}La Carte du Restaurant{% endblock %}


{% block body %}


<section class="cc-menu py-5">
    <div class="container">
      <div class="row md-3 g-4">
        <h3 class="btn3 text-center">A La Carte</h3>
        <h5 class="text-center text-uppercase">Nos Entrées</h5>
  <div class="card-group">
  <div class="card">
    <img src="photos/image5.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center">Nos Salades</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">5€</p>
    </div>
  </div>
  <div class="card">
    <img src="photos/image3.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center">Nos Crustacés</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">10€</p>
    </div>
  </div>
  <div class="card">
    <img src="photos/image4.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center">Nos Crudités</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">9€</p>
    </div>
  </div>
</div>
</div>
</div>
</section>          

<section class="cc-menu py-5">
    <div class="container">
      <div class="row  md-3 g-4">
        <h5 class="text-center text-uppercase">Nos plats</h5>
  <div class="card-group">
  <div class="card">
    <img src="photos/image2.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center"> La Viande</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">18€</p>
    </div>
  </div>
  <div class="card">
    <img src="photos/image6.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center"> Le Poisson</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">24€</p>
    </div>
  </div>
  <div class="card">
    <img src="photos/image7.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center"> Le Burger</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">12€</p>
    </div>
  </div>
</div>
</div>
</div>
</section> 

<section class="cc-menu py-5">
    <div class="container">
      <div class="row  md-3 g-4">
        <h5 class="text-center text-uppercase">Nos Desserts</h5>
  <div class="card-group">
  <div class="card">
    <img src="photos/image8.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center"> La Coupe de Glace</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">8€</p>
    </div>
  </div>
  <div class="card">
    <img src="photos/image9.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center">Nos Crêpes</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">7€</p>
    </div>
  </div>
  <div class="card">
    <img src="photos/image10.jpg" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title text-center">Nos Gâteaux Gourmand</h5>
      <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <p class="card-text text-center">9.5€</p>
    </div>
  </div>
</div>
</div>
</div>
</section>  


<section class="menus">
  <div class="container text-center">
    <div class="row justify-content-md-center md-3 g-4">
    <h3 class="btn3 text-center">Le Menu du Restaurant</h3>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="photos/image.jpg" class="img-fluid rounded-start" alt="image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Formule Déjeuner</h5>
        <p class="card-text">Du Lundi au Samdi midi <br> Entrée + Plat + Desserts</p>
        <p class="card-text text-center">25€</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br></br>
           Sapiente inventore iste nostrum, 
           officia voluptatum sequi consequatur 
           id laudantium ullam nesciunt.  <br></br>
           A ratione necessitatibus error hic, ea voluptas 
           beatae Maxime, quibusdam.</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="photos/image.jpg" class="img-fluid rounded-start" alt="image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Formule Diner</h5>
        <p class="card-text">Le midi du Lundi au Vendredi <br> Entrée + Plat + Desserts</p>
        <p class="card-text text-center">17€</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br></br>
           Sapiente inventore iste nostrum, 
           officia voluptatum sequi consequatur 
           id laudantium ullam nesciunt.  <br></br>
           A ratione necessitatibus error hic, ea voluptas 
           beatae Maxime, quibusdam.</p>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</section>

   
    


{% endblock %}
